<div class="widget-box col-lg-6 col-md-6 col-sm-8 col-xs-12 " id="recent-box" ng-controller="tasksController">

<div class="widget-header">

<div class="widget-header__title">
<h4 class="bigger lighter">
<i class="glyphicon glyphicon-list-alt"></i>&nbsp;
	Список дел
</h4>
</div>
<div class="widget-header__button">
<button ng-click="addNewClicked=true;" class="btn btn-md btn-danger header-elements-margin" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-plus"></i>&nbsp;Добавить запись</button>
</div>
<div class="widget-header__filter">
<input type="text" ng-model="filterTask" class="form-control search header-elements-margin" placeholder="Фильтровать...">
</div>

</div>
<div class="widget-body">


	<form ng-init="addNewClicked=false; " ng-if="addNewClicked" id="newTaskForm" class="add-task">
	<div class="form-actions modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal_content">
	<textarea class="modal_content-text" rows="5" name="comment" ng-model="taskInput" placeholder="Запись" ng-focus="addNewClicked"></textarea>

	<div class="modal_content-btn">
	<button class="btn btn-md btn-danger add" data-dismiss="modal" aria-hidden="true" type="submit" ng-click="addTask(taskInput)"><i class="glyphicon glyphicon-plus"></i>&nbsp;Добавить</button>

	<div class="styled-checkbox">
 		 <input type="radio" name="radio" class="study" id="study"/>
 		 <label for="study"><span>учеба</span></label>
  </div>

	<div class="styled-checkbox">
 		 <input type="radio" name="radio" class="work" id="work"/>
 		 <label for="work"><span>работа</span></label>
  </div>

	<div class="styled-checkbox">
		 <input type="radio" name="radio" class="aims" id="aims"/>
		 <label for="aims"><span>цели</span></label>
	</div>


	</div>


	</div>
	</div>
	</form>


<div class="task">
	<label class="checkbox" ng-repeat="task in tasks | filter : filterTask">
    <input type="checkbox"
	value="{{task.STATUS}}"
	ng-checked="task.STATUS==1"
	ng-click="toggleStatus(task.ID, task.STATUS, task.TASK)"/>
	<div class="task-content">
	<p ng-class="{strike:task.STATUS==1}">{{task.TASK}}</p>
	<p class="task-content__date">добавлено: {{task.CREATED_AT}}</p>
  </div>
	<a ng-click="deleteTask(task.ID)" class="pull-right"><i class="glyphicon glyphicon-trash"></i></a>
    </label>
</div>
</div>

</div>
